.kk{
*background:#CCBBFF;
height:500px;
background-image:    url(https://png.pngtree.com/thumb_back/fw800/back_our/20190620/ourmid/pngtree-high-tech-web-design-sci-fi-background-banner-image_156022.jpg);background-size:cover;
  font-family: "Times New Roman", Times, serif;
  height:800px;
  width:1200px;
  border:solid 3px black;
}
.intro{
}
